:root {
  /* Common */
 $--mg-font-size-xs: 12px;
 $--mg-font-size-sm: 14px;
 $--mg-font-size-md: 16px;
 $--mg-font-size-lg: 20px;
 $--mg-font-family-base: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 $--mg-font-family-mono: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 $--mg-color-gray-100: #F0F0F0;
 $--mg-color-gray-200: #D1D1D1;
 $--mg-shadow-xs: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
 $--mg-shadow-sm: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
 $--mg-shadow-md: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
 $--mg-shadow-lg: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));

  /* Light */
 $--mg-font-size-xs-light: 12px;
 $--mg-font-size-sm-light: 14px;
 $--mg-font-size-md-light: 16px;
 $--mg-font-size-lg-light: 20px;
 $--mg-font-family-base-light: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 $--mg-font-family-mono-light: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 $--mg-color-gray-100-light: #F0F0F0;
 $--mg-color-gray-200-light: #D1D1D1;
 $--mg-shadow-xs-light: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
 $--mg-shadow-sm-light: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
 $--mg-shadow-md-light: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
 $--mg-shadow-lg-light: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));

  /* Dark */
 $--mg-font-size-xs-dark: 12px;
 $--mg-font-size-sm-dark: 14px;
 $--mg-font-size-md-dark: 16px;
 $--mg-font-size-lg-dark: 20px;
 $--mg-font-family-base-dark: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 $--mg-font-family-mono-dark: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 $--mg-color-gray-100-dark: #F0F0F0;
 $--mg-color-gray-200-dark: #D1D1D1;
 $--mg-shadow-xs-dark: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
 $--mg-shadow-sm-dark: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
 $--mg-shadow-md-dark: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
 $--mg-shadow-lg-dark: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
}